# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files #
/.idea

# Distribution #
/build/
/dist/
/crest4.egg-info/

# Testing #
/.pytest_cache/

# The results of the pytest cases #
search.hits
assignments.txt