# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files #
/.idea
/.vscode
/.cursorignore
/.cursorrules

# LLM files #
/.claude

# Distribution #
/build/
/dist/
/crest4.egg-info/

# Testing #
.pytest_cache/

# The result files from running the pytest suite #
search.hits
assignments.txt
otus_by_rank.tsv
otus_cumulative.tsv