global-include README.md
global-include pytest.ini
global-include *.fasta
global-exclude .pytest_cache/README.md
exclude crest4/tests/gio_hundred_seqs/*
exclude crest4/tests/hmp_mock_dataset/*
exclude crest4/tests/long_otus_confident/*
include crest4/tests/precomputed_hits/precomputed.hits
include crest4/tests/with_otu_table/otu_table_bad.tsv
include crest4/tests/with_otu_table/otu_table_good.tsv
include crest4/tests/custom_database/custom/custom.fasta
include crest4/tests/custom_database/custom/custom.map
include crest4/tests/custom_database/custom/custom.names
include crest4/tests/custom_database/custom/custom.tre