name: Pytest master branch
permissions:
  contents: read
  actions: write

# This workflow will run `pytest` on the latest commit of the master
# branch on GitHub, after having installed the package with pip.
# It will run on the latest Ubuntu. If you want to run this locally,
# look at the file crest4/crest4/tests/run.yml` for instructions.

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.14
        uses: actions/setup-python@v2
        with:
          python-version: 3.14

      - name: Upgrade pip itself
        run: python -m pip install --upgrade pip

      - name: Install the package from the git repo
        run: pip install ".[test]"

      - name: Cache CREST4 databases
        uses: actions/cache@v4
        with:
          path: ~/.crest4
          key: crest4-db-all

      - name: Install BLAST and VSEARCH
        run: sudo apt-get install -y ncbi-blast+ vsearch

      - name: Test with pytest
        run: crest4 --pytest